{% extends 'base.html' %}
{% load static %}

{% block title %}
Smart Finance - ativos
<!--{% endblock %}-->

<!--{% block content %}-->
<!--<input type="checkbox" id="light">-->
<!--<label class="light-mode-toggler" for="light">-->
<!--    <div></div>-->
<!--</label>-->
<!--<div class="page2">-->
<!--    <header>-->
<!--        <div class="header-assets">-->
<!--            <img src="{% static 'images/logo.svg' %}" alt="logo do site" />-->
<!--            <div class="name">Smart Finance</div>-->
<!--            <nav>-->
<!--                <ul>-->
<!--                    <li>Sobre nós</li>-->
<!--                    <li>Suporte</li>-->
<!--                    <li>Termos de uso</li>-->
<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->
<!--    </header>-->
<!--    <main>-->
<!--        <div class="infos">-->
<!--            <h3>Ativos com informações disponíveis para compra ou venda:</h3>-->
<!--        </div>-->
<!--        <div class="assets">-->
<!--            {% for symbol, price, recommendation, moving_average in recommendations %}-->
<!--            <div class="asset">-->
<!--                <h3>{{ symbol }}</h3>-->
<!--                <p id="price1">R${{ price }}</p>-->
<!--                <p id="price3">{{ recommendation }}</p>-->
<!--                <p id="price2">{{ moving_average }}</p>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </main>-->
<!--</div>-->
<!--{% endblock %}-->
