<!DOCTYPE html>
<html>
<head>
    <title>Invest AI</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div id="nav">{% include 'nav.html' %}</div>

    <div class="conteudo">

        <!--banner-->
        <section class="carousel">
            <div class="paineis">
                <article class="page1"><img src= "{% static 'images/Saiba.png' %}" alt=""></article>
                <article class="page2"><img src="{% static 'images/Saiba2.png' %}" alt=""></article>
            </div>
        </section>
        <!--banner-->

        <h2>Venha fazer parte!</h2>
        <a href="{% url 'register' %}" class="button">Cadastre-se</a>

    </div>

    <script>
        var paineis = document.querySelector('.paineis');
        var carousel = document.querySelector('.carousel');
        var intervalo = 5000;

        function slider() {
            paineis.style.transform = 'translate(' + -carousel.clientWidth + 'px)';
            paineis.appendChild(paineis.firstElementChild);
        }

        setInterval(slider, intervalo);
    </script>
</body>
</html>
