<!DOCTYPE html>
<html>
<head>
    <title> Invest AI </title>
    <link rel="stylesheet" href="homeLogado.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap" rel="stylesheet">
</head>
<body>

    <div id="nav"></div> 

    <div class="conteudo">
        <h1>Olá {usuário}!</h1>
        <p> Seja bem vindo a sua área logada.</p>
        <div class="infosInvestidor">
            <p> ▻ Perfil de Investidor: {  ex: Alto Risco } </p>
            <p> ▻ Email: {  ex: email@teste.com } </p>
            <p> ▻ CPF: {  ex: xxx.xxx.xxx-xx } </p>
        </div>
        
        <div class="imagem">
            <img src="Imagens/Banner5.png" alt="Baner investimento">
        </div>

        <div class="botoes">
            <a href="carteira.html" type="button">Carteira Digital</a>
            <a href="perfil.html" type="button">Perfil do Investidor</a>
        </div>
        
        
    </div>
    
    <script src="login.js"></script>

</body>
</html>
