<!DOCTYPE html>
<html>
<head>
    <title>Invest AI</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static "js/cadastro.js"%}"></script>
</head>
<body>

    <div id="nav">{%include "nav.html"%}</div>

    <div class="conteudo">
        <form id="form" name="form" method="post" action="/register/">
            {% csrf_token %}
            <h2>Cadastre sua conta:</h2>
            {{form}}
        
            <p> Senha deve ter no mínimo 8 caracteres, 1 letra maiúscula, 1 número e 1 caractere especial.</p>

            <div id="requisitosSenha">
                <ul>
                    <li id="letraMaiuscula"> ▻ Pelo menos uma letra maiúscula</li>
                    <li id="numero"> ▻ Pelo menos um número</li>
                    <li id="especial"> ▻ Pelo menos um caractere especial</li>
                    <li id="tamanho"> ▻ No mínimo 8 caracteres</li>
                </ul>
            </div>
            <div id="mensagemSenha"></div>
            <div id="mensagemConfirmacaoSenha"></div>

            <button type="submit" class="button">Enviar</button>
        </form>
    </div>


</body>
</html>
