body {
    font-family: 'Carrois Gothic', sans-serif;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    margin: 70px;
    margin-bottom: 300px;
}

.coluna {
    flex: 1;
    margin: 10px;
}

.cadastroAcao {
    background: linear-gradient(to bottom, rgb(243, 240, 240) 98%, rgba(145, 144, 144, 0.9));
    padding: 5px;
    border-radius: 15px;
}

.cadastroAcao h2 {
    font-size: 18px;
    margin-left: 30px;
}

.cadastroAcao label {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cadastroAcao input, select {
    width: 50%;
    max-width: 450px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
    border: 1.5px solid;
    border-color: #E6B43E;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.botoes {
    text-align: right;
    margin-top: 20px;
}

#icone-mais img {
    width: 50px;
    cursor: pointer;
    margin-right: 30px;
    float: right;
    margin-right: 20%;
}

.excluir {
    width: 20px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    transition: color 0.3s;
}

.excluir:hover {
    color: grey;
}

.button {
    display: block;
    width: 150px;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #d4a330;
    color: white;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 14px;
    border: none;
}

.comeback {
    background-color: #d4a330;
    color: white;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 14px;
    border: none;
}

.button:hover {
    background-color: #333;
}

.button:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

.linha-vertical {
    border-right: 1px solid #ccc;
    height: auto;
    margin-left: 20px;
}
