.conteudo {
    font-family: 'Carrois Gothic', sans-serif;
    margin: 70px;
}

.conteudo h1 {
    font-size: 25px;
}

.conteudo p {
    margin-top: 10px;
    margin-left: 20px;
}

.infosInvestidor p {
    margin-top: 10px;
    margin-left: 20px;
    background: linear-gradient(to bottom, rgb(243, 240, 240) 90%, rgba(145, 144, 144, 0.9));
    padding: 10px;
    width: 50%;
    border-radius: 15px;
}

.infosInvestidor {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.imagem{
    text-align: center;
}

.imagem img {
    width: 100%;
}

.botoes {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 125px;
}

.botoes a {
    display: inline-block;
    margin: 20px;
    width: 200px; /* Largura dos botões */
    padding: 15px; /* Espaçamento interno dos botões */
    background-color: #000000;
    color: white;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 14px;
    border: none;
}

.botoes a:hover {
    background-color: #333;
}
