<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <title> Invest AI </title>
    <link rel="stylesheet" href="cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Meta tag para viewport -->
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
